<configuration>
    <property name="ENCODING" value="UTF-8"/>
    <property name="log.path" value="mytest.log" />


<!--	<appender name="FILE"-->
<!--	    class="ch.qos.logback.core.rolling.RollingFileAppender">-->
<!--	    <file>${log.path}</file>-->
<!--	    <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">-->
<!--	        <fileNamePattern>${log.path}.%d{yyyy-MM-dd}.zip</fileNamePattern>-->
<!--	    </rollingPolicy>-->
<!--	-->
<!--	    <encoder>-->
<!--	        <pattern>%d{yyyy-MM-dd HH:mm:ss} [%thread] %-5level %logger{36} [%X{traceId}] - %msg%n-->
<!--	        </pattern>-->
<!--	    </encoder>-->
<!--	</appender>   -->
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
	    <!-- encoder 默认配置为PatternLayoutEncoder -->   
	    <encoder>
            <charset>UTF-8</charset>
	        <pattern>%d{yyyy-MM-dd HH:mm:ss} [%thread] %-5level %logger{36} [%X{traceId}] - %msg%n</pattern>
	    </encoder>   
    </appender>   

    <logger name="com.zyl"/>   

    
    <root level="INFO">
    	<appender-ref ref="STDOUT" /> 
<!--    	<appender-ref ref="FILE" />-->
    </root>     
</configuration>